@font-face {
  font-family: "Anivers W03 SC Regular";
  src: url("./../../fonts/anivers-w03-sc-regular/5c5e45a900c0fed0c5233fe973813ddf.eot");
  src: url("./../../fonts/anivers-w03-sc-regular/5c5e45a900c0fed0c5233fe973813ddf.eot#iefix") format("embedded-opentype"),
       url("./../../fonts/anivers-w03-sc-regular/5c5e45a900c0fed0c5233fe973813ddf.woff2") format("woff2"),
       url("./../../fonts/anivers-w03-sc-regular/5c5e45a900c0fed0c5233fe973813ddf.woff") format("woff"),
       url("./../../fonts/anivers-w03-sc-regular/5c5e45a900c0fed0c5233fe973813ddf.ttf") format("truetype"),
       url("./../../fonts/anivers-w03-sc-regular/5c5e45a900c0fed0c5233fe973813ddf.svg#Anivers") format("svg");
}
